<div id="mainDataContainer" class="container">
<div class="row">
	<div class = "col-md-6">
		<div class="row">
			<h2> <%= results[0].city%>:<%= results[0].zipcode%></h2>
			<h3> <%= results[0].year%></h3>
			<hr>
			<div class = "overallStatsTable">
				<table class="table table-sm table-inverse">
					<tbody>
						<tr>
							<td>Population:</td>
							<td><%= results[0].population%></td>
						</tr>
						<tr>
							<td> Average Age: </td>
							<td><%= results[0].age %></td>
						</tr>
						<tr>
							<td> Average Income: </td>
							<td> &#36; <%= results[0].income%></td>
						</tr>
						<tr>
							<td> % of Population in Poverty </td>
							<td><%=results[0].percent_poverty%> &#37;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div id="visual1_1Header">
			</div>
			<svg class="visual1_1">
    			<g class="visual1_1"></g>
			</svg>
			<div id="visual1_2Header">
			</div>
			<svg class="visual1_2">
			</svg>

		</div>
	</div>

	<div class = "col-md-6" >
		<div class="row">
			<h2> <%= results[1].city%>:<%= results[1].zipcode%></h2>
			<h3> <%= results[1].year%></h3>
			<hr>
			<div class = "overallStatsTable">
				<table class="table table-sm table-inverse">
					<tbody>
						<tr>
							<td>Population:</td>
							<td><%= results[1].population%></td>
						</tr>
						<tr>
							<td> Average Age: </td>
							<td><%= results[1].age %></td>
						</tr>
						<tr>
							<td> Average Income: </td>
							<td> &#36; <%= results[1].income%></td>
						</tr>
						<tr>
							<td> % of Population in Poverty </td>
							<td><%=results[1].percent_poverty%> &#37;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div id="visual2_1Header">
			</div>
			<svg id="visual2_1">
    			<g class="visual2_1"></g>
			</svg>
			<div id="visual2_2Header">
			</div>
			<svg class="visual2_2">
			</svg>
		</div>
	</div>


</div>
</div>


<div id="contributionContainer">
<h2 class="text-center"> New Contribution </h2>

<form method="post" action ="/contributions">
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" name="title" placeholder = "Title of Contribution" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="content">Content:</label>
		<textarea name="content" class="form-control"></textarea>
	</div>
	<div class = "form-group">
	<input type="hidden" name= "tags" value=<%=[results[0].year, results[0].zipcode, results[0].city, results[1].zipcode, results[1].city]%>>
	</div>

	<input type="submit" value="Create Contribution" class= "btn btn-success">
</form>
</div>
<script>
	var results = <%- JSON.stringify(results) %>;
</script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/dataVisuals/visualOptions.js"></script>
<script type="text/javascript" src="/js/dataVisuals/treeMapVisual.js"></script>
<script type="text/javascript" src="/js/dataVisuals/donutChart.js"></script>