<div id="zip1">
	<h2> <%= results[0].city%>:<%= results[0].zipcode%></h2>
	<h3> <%= results[0].year%></h3>
	<hr>
	<div>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Population:</td>
					<td><%= results[0].population%></td>
				</tr>
				<tr>
					<td> Average Age: </td>
					<td><%= results[0].age %></td>
				</tr>
				<tr>
					<td> Average Income: </td>
					<td> &#36; <%= results[0].income%></td>
				</tr>
				<tr>
					<td> % of Population in Poverty </td>
					<td><%=results[0].percent_poverty%> &#37;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="zip2">
	<h2> <%= results[1].city%>:<%= results[1].zipcode%></h2>
	<h3> <%= results[1].year%></h3>
	<hr>
	<div>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Population:</td>
					<td><%= results[1].population%></td>
				</tr>
				<tr>
					<td> Average Age: </td>
					<td><%= results[1].age %></td>
				</tr>
				<tr>
					<td> Average Income: </td>
					<td> &#36; <%= results[1].income%></td>
				</tr>
				<tr>
					<td> % of Population in Poverty </td>
					<td><%=results[1].percent_poverty%> &#37;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2 class="text-center"> New Contribution </h2>

<form method="post" action ="/contributions">
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" name="title" placeholder = "Title of Contribution" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="content">Content:</label>
		<textarea name="content" class="form-control"></textarea>
	</div>
	<div class = "form-group">
	<input type="hidden" name= "tags" value=<%=[zipcode1, year1]%>>
	</div>
	<input type="hidden" name="userId" value="<%=currentUser.dataValues.id%>">
	<input type="submit" value="Create Contribution" class= "btn btn-success">
</form>
