<div id="zip1">
	<h2> <%= city1%>:<%= zipcode1%></h2>
	<h3> <%= year1%></h3>
	<hr>
	<div>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>Population:</td>
					<td><%= population1%></td>
				</tr>
				<tr>
					<td> Average Age: </td>
					<td><%= age1 %></td>
				</tr>
				<tr>
					<td> Average Income: </td>
					<td> &#36; <%= income1%></td>
				</tr>
				<tr>
					<td> % of Population in Poverty </td>
					<td><%=percent_poverty1%> &#37;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<h2 class="text-center"> New Contribution </h2>

<form method="post" action ="/contributions">
	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" name="title" placeholder = "Title of Contribution" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="content">Content:</label>
		<textarea name="content" class="form-control"></textarea>
	</div>
	<div class = "form-group">
	<input type="hidden" name= "tags" value=<%=[zipcode1, year1]%>>
	</div>
	<input type="hidden" name="userId" value="<%=currentUser.dataValues.id%>">
	<input type="submit" value="Create Contribution" class= "btn btn-success">
</form>
